$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$gray: rgb(102,	102,	102	);
$light-gray: rgb(245,	245,	245	);
$border-color: rgb(228,	228,	228	);

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $gray;
}

.App-root {
  max-width: $xl;
  margin: 0 auto;
}


table {
  table-layout: fixed;
  width: 100%;
}

.DateRangeForm-root {
  margin: 1rem 0;

  .DateRangeForm-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: $light-gray;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 6px;

    width: 360px;

    .DateRangeForm-input {
      width: 240px;
      height: 48px;
      border: 1px solid rgb(215,215,215);
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      background-image: url(./assets/icons/icon_calender.svg);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 15px 50%;

      padding-left: 60px;
    }

    .DateRangeForm-submit {
      margin: 0 auto;
    }
  }
}

.DesktopEmailList-table {
  border-collapse: collapse;
  cursor: pointer;

  .from-col {
    width: 20%;
  }

  .to-col {
    width: 20%;
  }

  .subject-col {
    width: 45%;
  }

  .attachment-col {
    min-width: 5%;
  }

  .date-col {
    width: 10%;
  }

  tr {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  th, td {
    padding: 1rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  thead {
    tr {
      background-color: $light-gray;
      th {
        font-size: 0.9rem;
        text-align: start;

        .th-flex-container {
          display: flex;

          svg {
            width: 8px;
            margin: 0 5px;
            align-items: center;
          }
        }
      }

      th:hover {
        color: royalblue !important;
      }
    }
  }

  tbody {
    tr:hover {
      color: royalblue;
      background-color: $light-gray;

      path {
        fill: royalblue;
      }
    }

    td {
      svg {
        width: 1rem;
      }
    }
  }
}

.MobileEmailList-root {
  .MobileEmailList-sortBar {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: $light-gray;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1rem 1rem;

    * {
      margin: 0 5px;
      display: flex;

      svg {
        width: 8px;
        margin: 0 1px;
        align-items: center;
      }
    }

    *:hover {
      color: royalblue !important;
      cursor: pointer;
    }
  }
}

.SplashScreen-flex-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EmailDetailView-root {
  svg {
    width: 20px;
  }

  .EmailDetailView-flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  

    .EmailDetailView-flex-col {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: space-between;
      align-items: flex-start;

      * {
        margin: 7px 0;
      }
    }
  }
}

.Footer-root {
  text-align: right;

  p {
    margin: 1rem 2rem;
    font-style: italic;
  }
}

.ListCard-root {
  padding: 10px;
  border-bottom: 1px solid $border-color;  
  width: 100%;
  cursor: pointer;

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .email {
    max-width: 200px;
  }

  .subject {
    max-width: 400px;
  }
  

  .MailIcon-row-container {
    display: flex;
    margin: 0 1rem;
    

    .MailIcon-div {
      margin-right: 0.5rem;
    }

    .EmailAddresses-col-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;


      .EmailFrom-row-container {
        display: flex;
        justify-content: space-between;

        .EmailFrom-div {
          content: '';
        }

        .Date-row-container {
          display: flex;


          * {
            margin: 0 4px;
          }
        }
      }
    }
  }

  .EmailSubject-div {
    margin: 0 1rem;
  }
}

.ListCard-root:hover {
  color: royalblue;
  background-color:$light-gray;

  path {
    fill: royalblue;
  }
}

@media screen and (max-width: 640px) {
  .DesktopDisplay {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .MobileDisplay {
    display: none;
  }
}