$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$gray: rgb(102,	102,	102	);
$light-gray: rgb(245,	245,	245	);

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $gray;
}

.App-root {
  max-width: $xl;
  margin: 0 auto;
}


table {
  table-layout: fixed;
  width: 100%;
}

.Header-root {
  svg {
    width: 1rem;
    margin: 0 1rem;
  }
}

.EmailListView-table {
  $border-color: rgb(228,	228,	228	);

  border-collapse: collapse;
  cursor: pointer;

  .from-col {
    width: 20%;
  }

  .to-col {
    width: 20%;
  }

  .subject-col {
    width: 40%;
  }

  .attachment-col {
    min-width: 5%;
  }

  .date-col {
    width: 15%;
  }

  tr {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  th, td {
    padding: 1rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  thead {
    tr {
      background-color: rgb(245,	245,	245	);
      th {
        font-size: 0.9rem;
        text-align: start;
      }

      th:hover {
        color: royalblue;
      }
    }
  }

  tbody {
    tr:hover {
      color: royalblue;
      background-color: $light-gray;

      path {
        fill: royalblue;
      }
    }

    td {
      svg {
        width: 1rem;
      }
    }
  }
}

.SplashScreen-flex-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}